@use '../index.scss';

.main-menu {
	--item_font_size: 0.9rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	
	--menu_border_radius: 2px;
	--border_color: hsl(var(--theme_backgrd_hue), var(--theme_backgrd_sat), 70%);

	background-color: var(--theme_backgrd_color);
}

.main-menu .menu-item {
	position: relative;
}

.main-menu .menu-item:hover {
	border-radius: var(--menu_border_radius);
	background-color: var(--theme_backgrd_hover_color);
}

.main-menu .menu-item > .content {
	padding: 3px 8px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	cursor: pointer;

	.name {
		font-family: var(--theme_font);
		font-size: var(--item_font_size);
		font-weight: normal;
	}

	i {
		margin-left: 5px;
	
		font-size: var(--item_font_size);
		font-weight: normal;
		font-style: normal;
	}
}

.main-menu .menu-item > ul {
	position: absolute;
	
	border-color: hsl(var(--theme_backgrd_hue), var(--theme_backgrd_sat), 70%);
	border-style: solid;
	border-width: 2px;
	border-radius: var(--menu_border_radius);

	width: max-content;
	display: flex;
	flex-direction: column;

	background-color: var(--theme_backgrd_color);
}

.main-menu .title-item {
	
}

.main-menu .title-item > .content {
	padding: 8px 8px;
}

.main-menu .title-item > ul {

}

.main-menu .normal-item {	
	
}

.main-menu .normal-item > .content {

}

.main-menu .normal-item > .content {
	
}

.main-menu li {
	list-style-type: none;
}

.main-menu .hide {
	display: none !important;
}
