body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
	/* Background */
	--theme_backgrd_hue: 208deg;
	--theme_backgrd_sat: 100%;
	--theme_backgrd_lum: 86%;
	--theme_backgrd_color: hsl(
		var(--theme_backgrd_hue)
		var(--theme_backgrd_sat)
		var(--theme_backgrd_lum)
	);

	--theme_backgrd_hover_color: hsl(
		var(--theme_backgrd_hue)
		var(--theme_backgrd_sat)
		78%
	);

	--theme_backgrd_hard_hover_color: hsl(
		var(--theme_backgrd_hue)
		var(--theme_backgrd_sat)
		71%
	);

	--theme_backgrd_edit_lum: 94%;
	--theme_backgrd_edit_color: hsl(
		var(--theme_backgrd_hue)
		var(--theme_backgrd_sat)
		var(--theme_backgrd_edit_lum)
	);

	/* Text */
	--theme_font: sans-serif;
	--theme_text_color: hsla(0deg, 0%, 0%, 0.75);
	--theme_text_hover_color: hsla(0deg, 0%, 0%, 1);
}

/* Style Reset *********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body, #root {
	height: 100%;
}

ol, ul {
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
}

button:focus {
	outline: none;
}
