@use '../../index.scss';

#root {
	height: 100%;

	display: flex;
	flex-direction: column;
}

.front-page {
	flex-grow: 1;

	display: flex;
	flex-direction: column;

	// background-color: hsl(212, 100%, 27%);

	.content-wrap {
		width: 100%;

		display: flex;
		justify-content: center;

		> .content {
			flex-basis: 1200px;
		}
	}

	main {
		position: relative;
		height: 600px;

		display: none !important;
	}

	main > .content {
		z-index: 3;

		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 70px;

		.left {
			height: 100%;

			display: flex;
			align-items: center;

			--text_color: hsl(212, 100%, 27%);

			.intro {
				display: flex;
				flex-direction: column;
				gap: 15px;

				.fullname {
					font-family: "Montserrat";
					font-size: 41px;
					color: var(--text_color);
				}

				.profesion {
					font-family: "Montserrat";
					font-size: 22px;
					font-weight: 500;
					color: var(--text_color);
				}

				.about-me {
					border: 2px solid var(--text_color);
					border-radius: 5px;
					padding: 10px 40px;
					width: fit-content;

					background-color: white;

					font-family: "Montserrat";
					font-size: 16px;
					font-weight: 500;
					color: var(--text_color);
					line-height: 1;

					cursor: pointer;

					transition-property: background color border-color transform;
					transition-duration: .2s;
				}

				.about-me:hover {
					color: white;
					background-color: var(--text_color);
					transform: scale(1.1);
				}
			}
		}

		.right {
			height: 100%;

			display: flex;
			align-items: center;

			img {
				--size: 300px;
				width: var(--size);
				height: var(--size);
				border-radius: 50%;

				// box-shadow: 0px 0px 50px 22px hsl(0, 100%, 100%, 0.99);
				// box-shadow: 0px 0px 10px 0px hsl(0, 100%, 100%, 0.99);
				// box-shadow: 0px 0px 10px 0px hsl(0, 100%, 0%, 0.99);
			}
		}
	}

	.skills > .content {
		
	}

	.new-skills {
		position: relative;
		height: 100vh;

		background-color: hsl(209, 30%, 17%);
		box-shadow: inset 0px 0px 100px 0px hsl(0, 0%, 0%);

		.solar-system {
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}

	.experience-title {
		// background: radial-gradient(hsl(209, 43%, 34%), hsl(209, 43%, 18%));
		background-color: hsl(209, 43%, 18%);
		
		.title {
			padding: 25px 0px;

			h3 {
				font-family: Montserrat;
				font-size: 24px;
				font-weight: normal;
				color: white;
			}
		}
	}

	.experience {
		box-sizing: border-box;
		padding: 0px 15px;
		background: radial-gradient(hsl(209, 43%, 34%), hsl(209, 43%, 18%));
		
		.title {
			padding: 30px 0px;

			h3 {
				font-family: Montserrat;
				font-weight: normal;
				color: white;
			}
		}

		.work-activity {
			padding-top: 10px;

			display: flex;
			flex-direction: column;
			gap: 20px;

			font-family: Montserrat;

			--subtitle_margin: 5px;
			--content_indent: 15px;

			.subtitle {
				margin-bottom: var(--subtitle_margin);
				font-size: 19px;
			}

			p {
				font-size: 16px;
				line-height: initial;
			}

			.company-desc {
				p {
					padding-left: var(--content_indent);
				}
			}

			.work-desc {
				> p {
					padding-left: var(--content_indent);
				}

				ul {
					padding-left: var(--content_indent);
				}
			}

			.apps {
				display: flex;
					flex-direction: column;
					gap: 10px;

				.app-list {
					padding-left: var(--content_indent);

					display: flex;
					flex-direction: column;
					gap: 15px;

					.app {
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						h3 {
							margin-bottom: var(--subtitle_margin);
							font-size: 16px;
						}
					}
				}
			}
		}

		.ats-activity {
			li {
				margin-left: 30px;
				list-style-type: circle;
			}
		}
	}

	footer {
		height: 100px;
	}
}
