@use '../../index.scss';

#root {
	height: 100%;

	display: flex;
	flex-direction: column;
}

.front-page {
	flex-grow: 1;

	display: flex;
	flex-direction: column;

	--top_backgrd_hue: 226;
	--top_backgrd_color: hsl(var(--top_backgrd_hue), 100%, 50%);

	--bot_backgrd_color: hsl(182, 100%, 50%);
	
	--text_title_color: hsl(216, 100%, 25%);
	--text_color: hsl(216, 100%, 25%);

	// background: radial-gradient(ellipse at top, var(--top_backgrd_color), transparent),
	// 	radial-gradient(ellipse at bottom, var(--bot_backgrd_color), transparent)
	// ;

	background-color: hsl(212, 100%, 27%);

	.content-wrap {
		width: 100%;

		display: flex;
		justify-content: center;

		.content {
			flex-basis: 1200px;
		}
	}

	main > .content {
		height: 600px;

		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 70px;

		.left {
			height: 100%;

			display: flex;
			align-items: center;

			.intro {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.fullname {
					font-family: "Montserrat";
					font-size: 41px;
					color: white;
				}

				.profesion {
					font-family: "Montserrat";
					font-size: 22px;
					font-weight: 500;
					color: white;
				}
			}
		}

		.right {
			height: 100%;

			display: flex;
			align-items: center;

			img {
				--size: 300px;
				width: var(--size);
				height: var(--size);
				border-radius: 50%;

				// box-shadow: 0px 0px 50px 22px hsl(0, 100%, 100%, 0.99);
				// box-shadow: 0px 0px 10px 0px hsl(0, 100%, 100%, 0.99);
				// box-shadow: 0px 0px 10px 0px hsl(0, 100%, 0%, 0.99);
			}
		}
	}
}
